* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*
    min-height: -webkit-fill-available;
     */
}

html {
    /*
     min-height: -webkit-fill-available;
     */
    scroll-behavior: smooth;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

.title {
    margin: 20px;
}

.count {
    margin: 20px;
}

.link {
    margin: 20px;
}